img
  max-height: 90%
  max-width: 90%
  margin: 20px

img, pre, p
  margin: 20px

li:before {
  content: ''
  margin-right: 20px
}

.nebula
  background: url(../images/nebula.jpg) center center

.sunrise
  background: radial-gradient(rgba(0, 0, 0, 0.5), transparent), url(../images/sunrise.png)

.contributors
  background: radial-gradient(rgba(0, 0, 0, 0.5), transparent), url(../images/contributors.png) center center

#notes 
  font-size: 14px

aside
  font-size: 50px
